.containerFooter {
    display: flex;
    background-color: #E2986C;
    transition: 300ms ease-in-out;
    color: black;
    margin-top: 25px;
    flex-direction: column;
}

.containerFooter:hover {
    color: black;
}


.arrowContainer {
    background-color: transparent;
    height: 40px;
    width: 40px;
    align-self: center;
    font-size: 35px;
    margin-top: 20px;
    transition: 300ms;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #e1e1d7;
}

.arrowContainer:hover {
    background-color: #e1e1d7;
    transform: translateY(-5px);
}

.iconsP {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin: 15px;
}

.reactIcon {
    flex-direction: column;
    font-size: 20px;
    display: flex;
    margin-right: 30px;
}

.iconContainer {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.copyright {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}