* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#conteItemsCarrusel {
  height: 500px;
  overflow: hidden;

}

.itemCarrusel {

  height: 500px;
  position: relative;
}

.tarjetaCarrusel {
  background-color: antiquewhite;
  height: 100%;
}

.flechasCarrusel {

  height: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.carruselImg {
  object-fit: cover;

  width: 100%;
  height: 500px;
}

.carruselImgOtros {
  object-fit: fill;

  width: 100%;
  height: 100%;
}


/* section donar */

.info {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 70px;
  background-color: #ebd3bc;
  border-radius: 20px;

}



.divDonar {
  flex: 1 1 50%;
  text-align: start;
  width: 50%;
  margin: 20px;

}


.divDonar h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

.divDonar p {
  margin: 40px 0px;
  font-size: 17px;

}

.alimentoPng {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;

}

.imgAlimento {
  width: 150px;
  height: 150px;
  margin-left: 50px;
}

.contVacuna {
  display: flex;
  justify-content: end;
}

.vacuna {
  width: 150px;
  height: 150px;
  margin-right: 50px;
}

/* section saber mas */

.saberMas {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 70px;
  background-color: #dde67f;
  border-radius: 20px;

}


.divSaberMas {
  flex: 1 1 50%;
  text-align: start;
  width: 50%;
  margin: 20px;
}

.divSaberMas h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

.divSaberMas p {
  margin: 40px 0px;
  font-size: 17px;
}

.contImg {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;

}

.contImg img {
  width: 350px;
  height: 350px;
}

.btn {
  display: flex;
  justify-content: end;
}

.boton_home {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #E08122;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.boton_home:hover {
  background-color: #f6be68;
  color: #ffffff;

}


.button_2 {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #E08122;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

}

.button_2:hover {

  background-color: #f6be68;
  color: #ffffff;

}



.dogPng {
  position: absolute;
  left: 550px;
  top: 680px;

}


.buttonPets {
  position: absolute;
  margin: 0 auto;
  bottom: 50px;
  width: 100px;
  background: #FF5C00;
  cursor: pointer;
  font-size: 30px;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}

.arrows {
  font-size: 40px;
  color: #FF5C00;
}