.container{
    display: flex;
    margin: 25px;
}

.containerTitle{
    flex: 1 1 50%;

}



.imgPerrito{
    width: 40rem;
    height: 30rem;
}

.containerForm{
    flex: 1 1 50%;
    display: flex;
    flex-wrap: wrap ;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

.containerInputs{
    margin-top: 10px;
    position:relative; 
    margin-bottom:45px; 
    font-family: 'Arvo', serif;
    margin-right: 10px;
}

.input{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:3px solid #F6BE68;
    font-family: 'Arvo', serif;
    z-index: 1;

}

.input:focus 		{ outline:none; }

.label {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    font-family: 'Arvo', serif;
}

.input:focus ~ label, .input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#9dae52;
  }

.btn{
    background-color: #F6BE68;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    width: 100px;
    font-family: 'Arvo', serif;
    margin-top: 20px;
    margin-right: 150px;
    font-size: 16px;
  }

  .error {
    display: block;
    position: absolute;
    background-color: #ffcccc;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0.8rem;
    color: #333;
  }